.container
  .at-section
    .at-section__title
      = image_tag "kinniku_logo.png", class: 'logo2'
  .at-grid{"data-column" => "3"}
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/boheme/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/marcogomes/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
    .at-column
      .at-user
        .at-user__avatar
          -# %img{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/tonychester/128.jpg"}/
        .at-user__name テスト
        .at-user__title テスト
