.topPage {
  background-color: #f1f3f8;
  background-size:100%;
  .top {
    .title {
      text-align: center;
      .logo {
        width: 40%;
        height: 40%;
        margin-top: 10%;
        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
    }
    .enterContent {
      font-size: 55px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      color: #222222;
      animation: scale-in-ver-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation-delay: 0.5s;
      .enterBtn {
        text-decoration: none;
        letter-spacing: 0.1em;
      }
    }
  }
}