.topPage {
  box-sizing: border-box;
  font-family: 'ジンへな黒流';
  .top {
    background-size:100%;
    height: 100vh;
    background-image: url(3229890_l.jpg);
    .title {
      text-align: center;
      .logo {
        width: 60%;
        height: 60%;
        margin-top: 30px;
        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
    }
    .enterContent {
      font-size: 55px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      color: #222222;
      animation: scale-in-ver-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation-delay: 0.5s;
      .enterBtn {
        text-decoration: none;
        border: 6px solid #222222;
        border-radius: 20px;
        padding: 6px;
        letter-spacing: 0.1em;
      }
      .enterBtn:hover {
        color: #ffffff;
        position: relative;
      }
      .enterBtn:hover::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #222222;
        animation: bg_slide 0.3s;
      }
    }
  }
}