@import 'modules/reset';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'modules/variables';
@import 'modules/flash';
@import 'homes';
@import 'menus';
@import 'about';

* {
  box-sizing: border-box;
  font-family: 'ジンへな黒流';
}

html {
  background-color: #f1f3f8;
}